.btn{
    padding: 1.25rem 2.1875rem;
    border: 1px solid black;
    border-radius: 14px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn:hover{
    transform: scale(1.05);
}



