.form{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form-container{
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.form-container img {
    margin-right: -100px;
}

.form-toggles {
    display: flex;
    flex-direction: row;
    gap: 35px;

}

.form-inputs{
    display: flex;
    flex-direction: column;
    gap: 25px;
}