@import "./reset.css";
@import "./base.css";
@import "./btn.css";
@import "./header-section.css";
@import "./header.css";
@import "./card.css";
@import "./collapsible.css";
@import "./card-proposal.css";
@import "./case.css";
@import "./team.css";
@import "./slider.css";
@import "./form.css";
@import "./input.css";
@import "./toggle.css";
@import "./text-area.css";
@import "./footer.css";
@import "./landing.css";
@import "./companies.css";