
.text-input{
    display: flex;
    flex-direction: column;
}


.text-input-label {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
}
  

.text-input-field {
    width: 100%;
    padding: 18px 30px;
    border: 1px solid #000;
    border-radius: 14px;
    font-size: 18px;
}
  