
.team-flex{
    display: flex;
    gap: 20px;
    align-items: end;
}

.team-card-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.linkedin{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #191A23;
    width: 34px;
    height: 34px;
}